altgraph==0.17
asgiref==3.2.7
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
Django==3.0.6
future==0.18.2
idna==2.10
lxml==4.5.2
pefile==2019.4.18
Pillow==7.1.2
progress==1.5
PyInstaller==3.6
PySocks==1.7.1
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.24.0
requests-futures==1.0.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
stem==1.8.0
urllib3==1.25.9
